.jumbotron {
  background: url("https://images.unsplash.com/photo-1444676632488-26a136c45b9b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=44f104530394dd81ad2c6741e097b4b3") fixed center no-repeat;
  background-size: cover;
  height: 50%;
}

#description {
  color: white;
  text-align: center;
}

.small-photo {
  width: 150px;
  height: 150px;
}

.little-photo {
  width: 100px;
  height: 100px;
}

#large-photo {
  width: 300px;
  height: 300px;
}

.row {
  border: 1px solid black;
}

.angular-google-map-container {
  height: 400px;
  width: 400px;
}
