<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ng-click="goHome()">RealEst Properties</a>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1 class="address-header">{{currentListing.address}}</h1>
    <h1 class="address-header">{{currentListing.city}}, {{currentListing.state}} {{currentListing.zip}}</h1>
  </div>
</div>

<div class="container">
  <div class="photos-container">
    <img id="large-photo" ng-src="{{selectedImg.url}}">
  </div>
  <div class="map-container">
    <div class="angular-google-map-container">
      <ui-gmap-google-map center="map.center" zoom="map.zoom">
        <ui-gmap-marker coords="marker.coords" idkey="marker.id">
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-sm-2 col-xs-2" ng-repeat="photo in photos">
      <img class="little-photo" ng-src="{{photo.url}}" ng-click="makeLargeImage($index)">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h3>Property details:</h3>
      <p>Description: {{currentListing.lease_description}}</p>
      <p>County: {{currentListing.county}}</p>
      <p>Year built: {{currentListing.year_built}}</p>
      <p>Lot size: {{currentListing.lot_size_acres}} acres</p>
      <p>Cross streets: {{currentListing.cross_streets}}</p>
      <p>Location description: {{currentListing.location_description}}</p>
      <p ng-if="currentListing.sale_price_dollars != null">Sale Price: ${{currentListing.sale_price_dollars}}</p>
      <p ng-if="currentListing.sale_price_dollars == null">Sale Price: Please see the external listing.</p>
      <p ng-if="currentListing.lease_listing_url != null">External listing: <a href="{{currentListing.lease_listing_url}}">{{currentListing.lease_listing_url}}</a></p>
    </div>
  </div>
</div>